.root {
    -fx-accent: #df941b;
    -fx-focus-color: -fx-accent;
    -fx-base: #282C34;
    -fx-background-color: #282C34;
    -fx-control-inner-background: derive(-fx-base, 15%);
    -fx-control-inner-background-alt: -fx-control-inner-background ;
}

.label{
    -fx-text-fill: #979FAD;
}

.text-field {
    -fx-prompt-text-fill: #979FAD;
}

.t {
    color: #b47e0b;
}

.titulo{
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.button{
    -fx-focus-traversable: false;
}

.button:hover{
    -fx-text-fill: white;
}

.separator *.line {
    -fx-background-color: #3C3C3C;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.scroll-bar{
    -fx-background-color: derive(-fx-base,45%)
}

.button:default {
    -fx-base: -fx-accent;
}

.run-icon > .glyph-icon {
    -fx-fill: #499c54
}